.form {
    &.card {
        background-color: var(--primary-color);
        border-radius: var(--radius-card-1);
        padding: 40px 44px;
        width: 100%;
        max-width: 480px;
        box-shadow: var(--cart-shadow);
        transition: box-shadow 0.25s ease;
    }

    &.card:hover {
        box-shadow: var(--card-shadow-hover);
    }
    
    & .row-duo {
        display: flex;
        gap: 16px;
    }
    
    & .row-duo .field-group {
        flex: 1;
    }
}

@media (max-width: 500px) {
    .form {

        &.card {
            padding: 28px 20px;
        }
    
        & .row-duo {
            flex-direction: column;
            gap: 0;
        }
    }

}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}