.migrations-list {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;

    & .step-item {
        padding: 12px;
        border-radius: var(--radius-card-4);
        border: 1px solid color-mix(in srgb, var(--background-color-dark) 25%, transparent);
        background: var(--background-color-light);
        color: var(--text-color-dark);
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: var(--transition);

        & strong {
            font-weight: 600;
            color: var(--text-color-success);
        }

        & span.in-the-queue {
            color: var(--text-color-muted);
        }

        &:has(span.in-the-queue) {
            cursor: wait;
        }

        &:hover {
            transform: translateY(-2px);
        }
    }
}

.migrations-finished-block {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
    color: var(--text-color-success);

    & .link {
        background: var(--secondary-color);
        color: var(--text-color-light);
        border: 1px solid var(--secondary-color);
        border-radius: 12px;
        padding: 14px 10px;
        width: 100%;
        text-decoration: none;

        &:hover {
            background: var(--primary-color);
            color: var(--text-color-dark);
            box-shadow: var(--card-shadow-hover);
        }
    }
}