Auto_Admin__PORT=3000
Auto_Admin__HOST=localhost

# Режим работы development | production | test
Auto_Admin__NODE_ENV=development

# переменные БД (система заполнит сама)
# Auto_Admin__DB_HOST
# Auto_Admin__DB_PORT
# Auto_Admin__DB_DATABASE
# Auto_Admin__DB_USERNAME
# Auto_Admin__DB_PASSWORD

# Сгенерируйте токен командой: openssl rand -hex 32
Auto_Admin__INSTALL_TOKEN=