Auto_Admin__PORT=3000
Auto_Admin__HOST=localhost

Auto_Admin__NODE_ENV=development | production | test

Auto_Admin__DB_HOST
Auto_Admin__DB_PORT
Auto_Admin__DB_DATABASE
Auto_Admin__DB_USERNAME
Auto_Admin__DB_PASSWORD